*
{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;  
}
body{
    font-family:  Helvetica, sans-serif;
    font-style:normal;
    font-weight: 600;
}
.container 
{
    margin: 200px auto;
    padding: 15px;
    width: 80%;
    border: 5px solid rgb(8, 151, 96);
    align-items: center;
    text-align: center;

    
}
.container p{
    border:2px solid rgb(2, 150, 2);
    padding: 10px;
    justify-content: center;
}
